apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-service
  labels:
    app: model-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-service
  template:
    metadata:
      labels:
        app: model-service
    spec:
      containers:
        - name: model-service
          image: "{{ .Values.modelService.image.repository }}:{{ .Values.modelService.image.tag }}"
          ports:
            - containerPort: {{ .Values.modelService.service.port }}
          env:
            - name: MODEL_PORT
              value: "{{ .Values.modelService.env.MODEL_PORT }}"
          volumeMounts:
            - name: model-volume
              mountPath: {{ .Values.modelService.volume.mountPath| quote }}
      volumes:
        - name: model-volume
          emptyDir: {}