apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: app-alerts
  labels:
    release: {{ .Release.Name }}
spec:
  route:
    receiver: "alerts-email"
    groupBy: ["alertname"]
    groupWait: 30s
    groupInterval: 2m
    repeatInterval: 4h
    routes:
      - receiver: "alerts-email"
        matchers:
          - name: severity
            value: warning
            matchType: =
  receivers:
    - name: "alerts-email"
      emailConfigs:
        - to: {{ .Values.monitoring.alerts.email.to | quote }}
          from: {{ .Values.monitoring.alerts.email.from | quote }}
          smarthost: {{ .Values.monitoring.alerts.email.smarthost | quote }}
          authUsername: {{ .Values.monitoring.alerts.email.username | quote }}
          authPassword:
            name: {{ .Values.monitoring.alerts.email.passwordName }}
            key: password
          requireTLS: {{ .Values.monitoring.alerts.email.require_tls }}