apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app: app
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: app
  ports:
    - name: http
      port: 80
      targetPort: {{ .Values.app.port }}
