apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: {{ .Values.app.image }}
          ports:
            - name: http
              containerPort: {{ .Values.app.port }}
          env:
            - name: SERVER_PORT
              value: "{{ .Values.app.port }}"
            - name: MODEL_HOST
              value: "http://{{ .Values.model.serviceName }}:{{ .Values.model.port }}"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: {{ .Values.secret.name }}