apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ .Release.Name }}-app-dr
spec:
  host: app
  subsets:
    - name: v1
      labels:
        version: v1
    - name: v2
      labels:
        version: v2
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ .Release.Name }}-model-dr
spec:
  host: {{ .Values.model.serviceName }}
  subsets:
    - name: v1
      labels:
        version: v1
    - name: v2
      labels:
        version: v2