apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config
  namespace: istio-system 
data:
  config.yaml: |
    domain: "global"
    descriptors:
      - key: generic_key
        value: "all"
        rate_limit:
          unit: minute
          requests_per_unit: 5
