apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: app-backend
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: sms-checker
      component: backend
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
