apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: app-backend
  labels:
    release: {{ .Release.Name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: sms-checker
      component: backend
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
