apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: app-frontend
  labels:
    release: {{ .Release.Name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: app
      component: frontend
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
