- name: Set authorized key taken from file
  hosts: all
  become: true
  vars:
    ssh_key_dir: "public_keys"
    ssh_keys: "{{ lookup('fileglob', ssh_key_dir ~ '/*.pub', wantlist=True) }}"



  tasks:
    # Step 4
    - name: Add ssh keys of team
      ansible.posix.authorized_key:
        user: vagrant
        state: present
        key: "{{ lookup('file', item) }}"
      loop: "{{ ssh_keys }}"
      when: ssh_keys | length > 0

    - name: Enable ssh
      service:
        name: ssh
        state: started
        enabled: true

    # Step 5
    - name: Disable swap
      command: swapoff -a
      when: ansible_swaptotal_mb | int > 0
      changed_when: ansible_swaptotal_mb | int > 0

    - name: Prevent re-mount on next boot
      lineinfile:
        path: /etc/fstab
        regexp: '^\s*\S+\s+\S+\s+swap\s+'
        state: absent
      
    # Step 6
    - name: Permanently enable modules
      copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter

    - name: Load modules
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter

    # Step 7
    - name: Set sysctl parameters for networking
      copy:
        dest: /etc/sysctl.d/k8s.conf
        content: |
          net.bridge.bridge-nf-call-iptables=1
          net.bridge.bridge-nf-call-ip6tables=1
          net.ipv4.ip_forward=1
      notify: Apply sysctl parameters

    - name: Enable IPv4 forwarding
      sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        state: present
        reload: yes

    - name: Forward IPv4 packages to iptables
      sysctl:
        name: net.bridge.bridge-nf-call-iptables
        value: "1"
        state: present
        reload: yes

    - name: Forward IPv6 packages to ip6tables
      sysctl:
        name: net.bridge.bridge-nf-call-ip6tables
        value: "1"
        state: present
        reload: yes


    # Step 8
    - name: Manage /etc/hosts
      copy:
        dest: /etc/hosts
        owner: root
        group: root
        mode: "0644"
        content: |
          127.0.0.1 localhost

          192.168.56.100 ctrl
          {% for i in range(1, NUM_WORKER_NODES + 1) %}
          192.168.56.{{ 100 + i }} node-{{ i }}
          {% endfor %}

    # Step 9
    - name: Ensure appropriate dependencies are installed
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
        state: present
        update_cache: yes

    - name: Add Kubernetes repository GPG key
      apt_key:
        url: https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key
        state: present

    - name: Add Kubernetes repo
      apt_repository:
        filename: kubernetes
        repo: "deb https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /"
        state: present

    - name: Update apt cache
      apt:
        update_cache: yes


    # Step 10
    - name: Install K8s tools
      apt:
        name: 
          - "containerd=1.7.24*"
          - "runc=1.1.12*"
          - "kubeadm=1.32.4-*"
          - "kubelet=1.32.4-*"
          - "kubectl=1.32.4-*"
        state: present 
        update_cache: yes
        allow_downgrade: yes

    # Step 11
    - name: Make directory existent
      ansible.builtin.file:
        path: /etc/containerd
        state: directory

    - name: Default configuration
      ansible.builtin.shell: containerd config default > /etc/containerd/config.toml
      args:
        creates: /etc/containerd/config.toml

    - name: Disable AppArmor
      ansible.builtin.lineinfile: 
        path: /etc/containerd/config.toml
        regexp: '^(\s*)disable_apparmor ='
        line: '    disable_apparmor = true'

    - name: Update the version of the sandbox image
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^(\s*)sandbox_image ='
        line: '    sandbox_image = "registry.k8s.io/pause:3.10"'
      notify: Restart containerd

    - name: Set SystemdCgroup to true
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^(\s*)SystemdCgroup ='
        line: '            SystemdCgroup = true'
    
    # Step 12
    - name: Start the kubelet service
      ansible.builtin.service:
        name: kubelet
        state: started
        enabled: true

  
  handlers:

    - name: Restart containerd
      ansible.builtin.service: 
        name: containerd
        state: restarted
        enabled: true
    
    - name: Apply sysctl parameters
      command: sysctl --system
