- name: Set authorized key taken from file
  hosts: all
  become: true

  tasks:
    - name: Add ssh key daniel
      ansible.posix.authorized_key:
        user: vagrant
        state: present
        key: "{{ lookup('file', './public_keys/key_daniel.pub') }}"

    - name: Disable swap
      command: swapoff -a

    - name: Prevent re-mount on next boot
      lineinfile:
        path: /etc/fstab
        regexp: '^\s*\S+\s+\S+\s+swap\s+'
        state: absent
    - name: Permanently enable modules
      copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter

    - name: Load modules
      command: modprobe br_netfilter

    - name: Set sysctl parameters for networking
      copy:
        dest: /etc/sysctl.d/k8s.conf
        content: |
          net.bridge.bridge-nf-call-iptables=1
          net.bridge.bridge-nf-call-ip6tables=1
          net.ipv4.ip_forward=1
      notify: Apply sysctl parameters

    - name: Enable IPv4 forwarding
      sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        state: present
        reload: yes

    - name: Forward IPv4 packages to iptables
      sysctl:
        name: net.bridge.bridge-nf-call-iptables
        value: "1"
        state: present
        reload: yes

    - name: Forward IPv6 packages to ip6tables
      sysctl:
        name: net.bridge.bridge-nf-call-ip6tables
        value: "1"
        state: present
        reload: yes


    - name: Manage /etc/hosts
      copy:
        dest: /etc/hosts
        owner: root
        group: root
        mode: "0644"
        content: |
          127.0.0.1 localhost

          192.168.56.100 ctrl
          {% for i in range(1, NUM_WORKER_NODES + 1) %}
          192.168.56.10{{ i }} node-{{ i }}
          {% endfor %}

    - name: Ensure appropriate dependencies are installed
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
        state: present
        update_cache: yes

    - name: Add Kubernetes repository GPG key
      apt_key:
        url: https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key
        state: present

    - name: Add Kubernetes repo
      apt_repository:
        filename: kubernetes
        repo: "deb https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /"

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install K8s tools
      apt:
        name: 
          - "containerd=1.7.24*"
          - "runc=1.1.12*"
          - "kubeadm=1.32.4-*"
          - "kubelet=1.32.4-*"
          - "kubectl=1.32.4-*"
        state: present 
        update_cache: yes
        allow_downgrade: yes


  handlers:
    
    - name: Apply sysctl parameters
      command: sysctl --system
