- import_playbook: general.yml

- hosts: all
  tasks:
    - name: Create token on controller.
      ansible.builtin.command: "kubeadm token create --print-join-command"
      delegate_to: ctrl
      run_once: true
      register: join_token
      become: yes

    - name: Run command.
      ansible.builtin.shell: "{{ join_token.stdout }}"
      become: yes
      when: inventory_hostname != 'ctrl'
