
- name: Setting up Kubernetes Workers
  hosts: "node-*"
  become: true
  gather_facts: true
  tasks:
    # 18 Getting the join command.
    - name: Create token on controller.
      ansible.builtin.command: kubeadm token create --print-join-command
      delegate_to: ctrl
      run_once: true
      become: true
      register: join_cmd
      changed_when: false

    - name: Check if node already joined
      ansible.builtin.stat:
        path: /etc/kubernetes/kubelet.conf
      register: kubelet_conf

    - name: Wait for API to be ready
      ansible.builtin.uri:
        url: "https://192.168.56.100:6443/healthz"
        method: GET
        validate_certs: no
        return_content: yes
        timeout: 5
        status_code: 200
      register: healthz
      retries: 60
      delay: 3
      until: healthz.status == 200 and 'ok' in healthz.content
      when:
        - inventory_hostname != "ctrl"
        - not kubelet_conf.stat.exists

    # 19 Using the join command.
    - name: Run join command
      ansible.builtin.shell: "timeout 180s {{ join_cmd.stdout }}"
      when: 
        - inventory_hostname != 'ctrl'
        - not kubelet_conf.stat.exists
